<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!--配置SpringMVC-->
    <context:component-scan base-package="com.lanou"/>
    <!--mvc的注解驱动-->
    <mvc:annotation-driven/>

    <!--注解的包扫描-->
    <!--将这个配置的包下的所有类,都相当于配置好了bean,调用的时候用注解-->
    <!--每个类默认的id是首字母小写形式:例如 Student类的id: student-->


    <!--默认的资源文件的处理方式-->
    <!--类似js css img等资源文件 本身并不需要springMVC做处理-->
    <mvc:default-servlet-handler/>

    <!--视图解析器 V-->
    <!--根据代码的逻辑处理,配置正确的jsp/html等文件路径-->
    <bean id="jspViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/views/user/"/>
        <property name="suffix" value=".jsp"/>
        <!--/WEB-INF/index.JSP-->
    </bean>

</beans>